
.btn-small {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
	line-height: 36px;
	width: 10px;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}
.bg-red{
	background-color:#F44336;
	font-weight: bold;
	border-style: none;
	padding: 1px;

}

.select-grupo option{
  background-color: blue;


}
.bg-red .bg-green .bg-blue .bg-yellow:hover{
	opacity: 0.5;


}
.bg-green{

	background-color:#4CAF50;
	font-weight: bold;
}
.bg-blue{
	background-color:#1565c0;
	font-weight: bold;
	border-style: none;
	padding: 1px;

}

.bg-yellow{
	background-color:#FFC107;
	font-weight: bold;
	border-style: none;
	padding: 1px;

}
.btn-edita{
color: yellow;
background-color: white;

}
.border-grey{
    border-color:#616161;
    border-style: solid;
    border-width: thin;

}
.border-nav{
    border-style: solid;
    border-width: 3px;
    border-color: #1565c0;

}
.btn-guarda{
	color: green;
	background-color: white;

}
label{/*Label de buscar en el registro de estudiantes*/
	font-size:18px;
	font-weight: bold;
	color:black;


}
i{
    vertical-align: middle !important;
}
.tabla th{/* cambiar color a los atributos de la tabla*/
	font-weight: bold;
	color:black;
}
.side-nav{/* al menu lateral*/
	border-style: solid;
    border-width: 3px;
    border-color: #1565c0;
}
.dataTables_info, .dataTables_paginate{/*Paginación de la tabla*/
	font-weight: bold;
	font-size: 16px;

}
.modal {
 
	left: 0;
   
	right: 0;
   
	background-color:white;
   
	padding: 0;
   
	max-height: 60%;
   
	
   
	will-change: top, opacity;
   
  }
   
   
   
  .modal .modal-footer {
   
	border-radius: 0 0 2px 2px;
   
	background-color: #dce1e5;
   
	padding: 4px 6px;
   
	height: 60px;
   
	width: 100%;
   
	text-align: right;
   
  }














/*Opciones de registro de alumnos*/
.mostrarEditar{/* Bóton de Editar*/
	border: 2px solid dodgerblue;
	background-color: white;
}
.mostrarBlock{/*Bóton de desactivar*/
	border: 2px solid red;
	background-color: white;
}
.mostrarCheck{/*Bóton de activar*/
	border: 2px solid green;
	background-color: white;
}
.mostrarEditar:hover, .mostrarBlock:hover
, .mostrarCheck:hover{
	background-color: white;
}
.guardaEst, .editaEst
, .cancelEst{
	font-weight: bold;
	font-size: 16px;
}
.registroIcono{
	margin-top:-10px;
}
@media only screen and (max-width: 600px) {
	.registroIcono{
		margin-top:-7px;
	}
}
.agregarIcono{
	margin-top:-8px;
}
@media only screen and (max-width: 600px) {
	.agregarIcono{
		margin-top:-4px;
	}
}

.border{
	border : 2px solid black;

	}
	.full-width{

		width : 100%;
	}
