@import url('https://fonts.googleapis.com/css?family=Francois+One');
@import url('https://fonts.googleapis.com/css?family=Crete+Round');
body{
    background: #285671;
}
.title{
    font-family: 'Francois One', sans-serif;
}
.subtitle{
    font-family: 'Crete Round', serif;
}
.bg-green{
    background-color: #43a047;

}
.bg-blue{
    background-color: #1565c0;
}
.img-inicio{

    width: 200px;
    height: auto;
}
.caja{
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
i{
    vertical-align: middle !important;
}
